{% extends "notes/layout.html" %}

{% block title %}
Home
{% endblock %}

{% block content %}
<h2>Home Page</h2>
<h2>Your 5 most recent Note Lists</h2>
{% if note_lists %}
    <ul class="note-list">
        {% for note_list in note_lists %}
            <li class="note-list-item">
                <a class="list-name-button" href="{% url 'addnote' note_list.id %}">{{ note_list.name }}</a>
                <p>&nbsp;&nbsp; &mdash;&mdash;&mdash;&mdash; &nbsp;&nbsp;</p>
                <a class="delete-button" href="{% url 'delete_notelist' note_list.id %}">Delete List</a>
            </li>
        {% endfor %}
        <a href="{% url 'addnotelist' %}" class="add-button">Create Note List</a>
    </ul>
{% else %}
    <p>No note lists found.</p>
    <a href="{% url 'addnotelist' %}" class="add-button">Create Note List</a>
{% endif %}

{% endblock %}
